.todo-item {
    background-color:rgb(85, 150, 150);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid aliceblue;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 5px;
}